@font-face{
	font-family:yofont;
	src:url("/img/font/iconfont.woff") format("woff"),
	url("/img/font/iconfont.ttf") format("truetype");
}

@font-face{
	font-family:yofont;
	src:url("/img/font/iconfont-back.woff") format("woff"),
	url("/img/font/iconfont-back.ttf") format("truetype");
}